*{
    font-family: Arial, Helvetica, sans-serif;
    
}


body{
    background: #191825;
}

img{
    position: relative;
    grid: flex;
    margin: auto;
    padding: auto;
    width: 130%;
}

h1{
    color: #fff;
}